<section class="page {{ document.type }}" lang="{{ document.language-code }}">
{{ template.header }}
<main>
<h1>{{ document.title }}</h1>
<div class="archive-intro">
    {% if document.paginated is "true" %}
    <p>This page shows the latest published example news entries in reverse chronological order.</p>
    {% else %}
    <p>This page shows all published example news entries in reverse chronological order.</p>
    {% endif %}
    <ul class="archive-links">
        <li><a href="{{ archive.rootpath }}feed.xml">Atom feed</a></li>
        <li><a href="{{ archive.rootpath }}feed.json">JSON Feed</a></li>
        <li><a href="{{ archive.rootpath }}all/">Full archive</a></li>
    </ul>
</div>

{% if document.page-has-subdocuments is not "true" %}
<p class="archive-empty">Nothing to see here.</p>
{% endif %}

{% if document.paginated is "true" %}
<nav class="archive-pagination archive-pagination-top">
    <p>Page {{ document.page }} of {{ document.page-total }}.
        {% if document.page-has-prev is "true" %}
        <a href="{{ document.page-prev-href }}">&larr; Previous Page</a>
        {% endif %}
        {% if document.page-has-next is "true" %}
        <a href="{{ document.page-next-href }}">Next Page &rarr;</a>
        {% endif %}
    </p>
</nav><!-- end nav.archive-pagination.archive-pagination-top -->
{% endif %}

{{ subdocuments }}

{% if document.paginated is "true" %}
<nav class="archive-pagination archive-pagination-bottom">
    <p>Page {{ document.page }} of {{ document.page-total }}.
        {% if document.page-has-prev is "true" %}
        <a href="{{ document.page-prev-href }}">&larr; Previous Page</a>
        {% endif %}
        {% if document.page-has-next is "true" %}
        <a href="{{ document.page-next-href }}">Next Page &rarr;</a>
        {% endif %}
    </p>
    <p>Showing {{ document.page-subdocuments-total }} of {{ document.archive-subdocuments-total }} items.</p>
</nav><!-- end nav.archive-pagination.archive-pagination-bottom -->
{% endif %}

</main>
{{ template.footer }}
</section><!-- end section.page.{{ document.type }} -->
{{ template.assets.scripts | items:wrap-type:html-script-src }}
