    <meta charset="utf-8" />
    <meta name="author" content="{{ document.authors | email:remove-angle-addr | join-type:oxford }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ document.title }}</title>
    {% if document.paginated is "true" %}
    <link rel="canonical" href="{{ document.page-canonical-uri }}" />
    {% if document.page-has-prev is "true" %}
    <link rel="prev" href="{{ document.page-prev-uri }}" />
    {% endif %}
    {% if document.page-has-next is "true" %}
    <link rel="next" href="{{ document.page-next-uri }}" />
    {% endif %}
    {% else %}
    <link rel="canonical" href="{{ document.uri }}" />
    {% endif %}
    {{ template.assets.styles | items:wrap-type:html-style-link }}
